<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include _head%>
  </head>
  <body>
    <div id="app" class="container">
      <header>
        <h1><a href="">Million Dollar ICO Page</a></h1>
        <h2>1,000,000 pixels &middot; 0.001 ETH per pixel &middot; Own a piece of blockchain history!</h2>
      </header>

      <article>
        <h1>Press & Media</h1>
       
       
       
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <h2>Reach us at milliondollaricopage@gmail.com</h2>
        
      </article>
      <%- include _footer %>
    </div>
    <%- include _analytics %>
  </body>
</html>
